

.filterBar {
  width: 85%;
  padding: 1.2rem 0;
  background: inherit;
  margin: auto;
  position: relative;
  bottom: 1.7em;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  display: flex;
  justify-content: space-between;
}

.filterBar ul {
  margin-left: .7rem;
}

.btnClear {
  margin-right: 1.5rem;
  border: transparent;
  background: transparent;
  cursor: pointer;
  color: hsl(180, 29%, 50%);
  font-size: .8rem;
  font-weight: bold;
}



@media  screen and (min-width: 330px) and (max-width: 650px) {

  .filterBar {
    bottom: 1em;
    padding: 0; 
  }
  
}