
.filters {
    list-style: none;
    color: hsl(180, 29%, 50%);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    margin-left: 1.5rem;
}

.filters li {
    background: hsl(180, 31%, 95%);
    margin: 0 .7em;
    border-radius: .5em;
    padding: .5em .9em;
}
.filters li:hover {
    cursor: pointer;
    color: hsl(180, 31%, 95%);
    background-color: hsl(180, 29%, 50%);
}


@media screen and (min-width: 330px) and (max-width: 650px){

.filters {
    justify-content: start;
    gap: 1rem;
    margin: 0;
    padding: 1.5rem 0;
}



}